.login-form,
.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 734px;
	width: 100%;
	margin: auto;
	align-items: center;
	align-content: center;

	padding: 1em;
	background-color: #121212;
	// color: white
	span {
		color: rgb(41, 41, 41);
	}

	h2 {
		color: white;
	}

	label {
		color: white;
	}

	img {
		height: 40px;
	}
	input{
		background-color:#121212;
		border-radius: 0;
		border: #7c7c7c 1px solid;
		min-height: 40px;
		color: white;
	&:hover {
		border: white 1px solid;
	}
	}
}
.user-password-login{
	display: grid;
}

.login-comp-btn {
	background-color: #121212;
	border: #7c7c7c 1px solid;
	color: white;
	border-radius: 1.5rem;
	padding: 0.5em 1em;
	font-size: 1em;
	// font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 20px;
	width: 324px;
	// display: flex
	;
	// flex-direction: column;

	&:hover {
		border: white 1px solid;
	}

	.login-provider-icon {
		width: 24px;
		height: 24px;
	}
}

.login-btn {
	background-color: #1ed760;
	color: #121212;
	border-radius: 0.5rem;
	width: 324px;
	min-height: 40px;
    font-size: large;
    font-weight: bold;
	&:hover {
		background-color: #2afa7d;
		// block-size: calc(100% + 12px);
		inline-size: calc(50%);
	}
}

.signup-form {
	input {
		width: 100%;
	}

	.admin-toggle {
		display: flex;
		align-items: center;
		justify-self: start;

		span {
			font-size: .8em;
		}
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;

	a {
		font-size: 0.8em;
		color: $clr4;

		&:hover {
			color: $clr1;
		}
	}

	a.active {
		text-decoration: underline;
		color: $clr2;
	}
}