.app-header {
    display: flex;
    min-height: 2rem;
    max-height: 3rem;

    background-color: #000;
    ;
    padding: rem(5px) 1rem;
    align-items: center;

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;

        font-size: .8em;

        .active {
            color: $clr1;
        }

        .logo {
            font-size: 1.4em;
            font-weight: bold;
            margin-inline-end: 2em;
        }

        .login-link {
            margin-inline-start: auto;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .btn-link {
            color: $clr2;
        }
    }

    .icon-wrap {
        position: absolute;
        width: 40px;
        font-size: 25px;
        color: white;
        align-items: center;
    }

    .search-input {
        display: flex;
        position: relative;
        height: 50px;
        width: 500px;
        margin: auto;
        color: white;
        align-items: center;
    }
    .playlist-header-details{
        align-self: center;
        margin-left: 10rem;
        img{
            border-radius: 4px;
            width: 30px;
        }
    }

    .space {
        width: 40%;
    }
    .space-home {
        width: 1%;
    }
    .space-login {
        width: 8%;
    }

    .login-btn {
        color: #000;
        background: white;
        border-radius: 10px;
        width: auto;
    }

    input {
        padding-left: 40px;
        background: rgb(45 42 42);
    }
    input::placeholder {
        font-weight: bold;
        opacity: 0.5;
        color: white;
      }

}