.playlist-track-list{
        .track-row {
        transition: background-color 0.2s ease;
        
        &:hover, &.hover {
            background-color: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    img{
        width: 5%;
    }
    td{
        color: white;
    }
    th{
        color: white;
        width: '25%';
    }
    .track-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .track-title{
        display: grid;
        a{
            color: rgba(255, 255, 255, 0.623);
            text-decoration: none;
        }
    }
}