.playlist-list {
    display: flex;
    // ;
    // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // gap: .5em;

    li {
        display: flex;
        // grid-template-columns: max-content auto;
        padding: .5em;
            align-items: center;
    align-self: center;
    justify-content: center;
        // background-color: $clr2;

        // color: $clr6;


        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }
    ul li{
        display: inline;
      }
}