.playlist-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    a{
     color: white;
    }
     p {
         margin-block: 0 0.2rem;
         font-size: .85em;
     }
     img {
        display: block;
        width: 70%;
    }
    width: 80%;
    .playlist-img{
        img{
        width: 10rem;
        height: 8rem;
        border-radius: 0.5rem;
        }
    }
    .playlist-name{ 
        align-self: center;
        align-items: center;
        align-content: center;
    }
            :hover{
        background-color: #ffffff37;
        border-radius: 0.5rem;
    }
.playlist-img {
    position: relative;
}

.play-button-container {
    position: absolute;
    right: 8px;
    bottom: 8px;
    transition: all 0.3s ease;
}

.play-button {
    width: 10px;
    height: 10px;
    // background-color: #1db954;
    border-radius: 1.5rem;
    padding: 8px;
    :hover {
        width: 30px;
    }
}

.playlist-preview:hover .play-button-container {
    transform: translateY(-5px);
    width: 30px;
}

.play-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #1db954;
    border-radius: 2rem;
    // width: 30px;
    // height: 30px;
            .play-button {
            width: 50px;
            height: 50px;
            // border-radius: 50%;
            border-radius: 2.5rem;
            // background-color: #1db954;
            // padding: 8px;
            // cursor: pointer;
            // transition: transform 0.2s ease;
            
            &:hover {
                // transform: scale(1.1);
            }
        }
}


 }
//  .song-link{
//      a{
//          color: white;
//         }
//      font-size: small;
//      font-family: sans-serif;
   
//  }
//  .artists-link{
//      font-size: small;
//      font-family: sans-serif;
//      a{
//          color: #b3b3b3;
//      }
        
//  }
 