.song-preview {
   a{
    // color: white;
   }
	p {
		margin-block: 0 0.2rem;
        font-size: .85em;
	}
}
.song-link{
    a{
        color: white;
       }
    font-size: small;
    font-family: sans-serif;
  
}
.artists-link{
    font-size: small;
    font-family: sans-serif;
    a{
        color: #b3b3b3;
    }
       
}

