.main-container main {
    min-height: calc(100vh - 10rem);
    height: 400px;
    overflow: hidden; // Quick fix for JSONs in <pre>
    flex-grow: 1; // Take up the remaining space
    padding: 1rem;
    // background:  rgb(83, 83, 83);
    background-color: rgb(83, 83, 83);
    // background-image: linear-gradient(#121212 100%, #000);
    background-image: linear-gradient(var(--background-top-color) 0, #121212 100%), var(--background-noise);
        border-radius: 0.5rem;
    margin-left: 0.5rem;
}
.content-layout {
    display: flex;
    // min-height: calc(100vh - 10rem); // Adjust height based on header/footer
    // background-color: black;
    height: 550px
}
// .main-container {
//     height: 100vh;
//     min-height: 100vh;
//     overflow: hidden; // Prevents unwanted scrollbars
//     display: flex;
//     flex-direction: column;
// }

// .content-layout {
//     flex: 1 1 auto;
//     display: flex;
//     min-height: 0; // Allows children to shrink properly
//     height: 100%;
// }

// .main-content {
//     position: relative;
//         scrollbar-width: thin;
//             scrollbar-color: #888 transparent;
//       max-height: 80vh; 
//                   overflow-y: auto;
//             overflow-x: hidden  ;
// }

.left-side-toolbar {   
     background:#121212;
    width: 300px;
    /* background-color: #f4f4f4; */
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    height: 80%;
  h4{

    color: white;
  }
}

.encore-dark-theme, .encore-dark-theme .encore-base-set {
  --background-base: #121212;
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: #ffffff1a;
  --background-tinted-highlight: #ffffff24;
  --background-tinted-press: #ffffff36;
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}
:root {
  --left-sidebar-width: 232;
  --content-spacing: 16px;
  --content-max-width: 1955px;
  --background-noise: url("../assets/img/backgroundImage.png");
  --background-top-color: rgba(0, 0, 0, .6);
}

